.QnA {
    display: block;
    width: 100%;
    height: 100%;
    /* min-height: 41vh; */
    padding-bottom: 5vh;
}

.Answer{
    text-align: left;
    padding-left: 10%;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: rgba(255, 255, 255, 0.4)
}

.Answer > p {
    background-color: rgb(138, 186, 248);
    border-radius: 5px;
    margin-top: 1rem;
}

.Question {
    text-align: left;
    background-color: rgb(138, 186, 248);
    border-radius: 5px;
    padding: 1vw;
    margin-bottom: 1vh;
} 

@keyframes correct-answer {
    0%   { background-color: #00ff00; }
    49% { background-color: #00ff00; }
    50% { background-color: rgba(255, 255, 255, 0.4); }
    99% { background-color: rgba(255, 255, 255, 0.4); }
    100% { background-color: #00ff00; }
}

@keyframes wrong-answer {
    0%   { background-color: #ff0000; }
    49% { background-color: #ff0000; }
    50% { background-color: rgba(255, 255, 255, 0.4); }
    99% { background-color: rgba(255, 255, 255, 0.4); }
    100% { background-color: #ff0000; }
}



.Correct {
    animation: correct-answer 0.5s infinite;
}
.Wrong {
    animation: wrong-answer 0.5s infinite;
}

.Disabled {
    text-decoration: line-through;
}

.Suggested {
    border: 5px solid black;
}



@media (min-width: 501px) {
    .Question > p{
        font-size: 2vh;
        padding: 10px 10px 10px 10px;
    }
    .Answer{
        padding-left: 0;
        padding: 2vh;
    }
    .Answer > p{
       
        font-size: 2vh;
        line-height: 2vh;

    }
}