.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto 100%; 
  background-position: center; 
  display: block;
  width: 100vw;
  max-width: 100vw;
}

@media (min-width: 1025px){
  .App {
    background-size: 100% auto; 
    display: table-cell;
  }
}